In [120]:
import pandas as pd
import numpy as np
import seaborn as sns

In [121]:
import sys
import os
!head -n 4 data.txt

In [158]:
df_text = pd.read_fwf('data.txt', sep=" ", colspecs='infer', widths=None, squeeze=True, header=None)
# df_text = pd.read_fwf('data.txt',colspecs='infer')

In [159]:
df_text.head()

         0                                                  1    2
0  Genesis  1:1\tIn the beginning God created the heaven a...  NaN
1  Genesis  1:2\tAnd the earth was without form, and void;...  NaN
2  Genesis  1:3\tAnd God said, Let there be light: and the...  NaN
3  Genesis  1:4\tAnd God saw the light, that it was good: ...  NaN
4  Genesis  1:5\tAnd God called the light Day, and the dar...  NaN

In [161]:
df_text.shape

(31102, 3)

In [167]:
for item in df_text[15:]:
    print(item)

0
1
2

In [147]:
books_old_testament = ["Genesis","Exodus","Leviticus","Numbers","Deuteronomy","Joshua","Judges","Ruth","1 Samuel",
                       "2 Samuel","1 Kings","2 Kings","1 Chronicles","2 Chronicles","Ezra","Nehemiah","Esther","Job",
                       "Psalms","Proverbs","Ecclesiastes","Song of Solomon","Isaiah","Jeremiah","Lamentations","Ezekiel",
                       "Daniel","Hosea","Joel","Amos","Obadiah","Jonah","Micah","Nahum","Habakkuk","Zephaniah","Haggai",
                       "Zechariah","Malachi"]

In [148]:
books_new_testament = ["Matthew","Mark","Luke","John","Acts of Apostles","Romans","1 Corinthians","2 Corinthians",
                      "Galatians","Ephesians","Philippians","Colossians","1 Thessalonians","2 Thessalonians","1 Timothy",
                      "2 Timothy","Titus","Philemon","Hebrews","James","1 Peter","2 Peter","1 John","2 John","3 John",
                      "Jude","Revelation"]

In [149]:
# zero_to_nine = [range(10)]

def get_word_count(dataframe_or_list):
    _stats = {}
    for line in dataframe_or_list:
#         words = line.splitlines()
        words = line.rsplit(sep=None, maxsplit=-1)
        for word in words:
            if word.isalpha():
                try:
                    _stats[word] = _stats[word] + 1
                except KeyError:
                    _stats[word] =1
    return _stats

In [150]:
# help(pd.read_fwf)
# help(str)
# worded = pd.read_fwf('data.txt')
data = pd.read_fwf('data.txt', header = None)
len(data)

31102

In [151]:
type(data)

pandas.core.frame.DataFrame

In [152]:
data.columns = ["book", "verse", "extra"]

In [153]:
len(data)

31102

In [155]:
_data = {}
glass = data.iterrows()

In [156]:
type(glass)

generator

In [157]:
glass.gi_frame

In [54]:
df_counted = get_word_count(df_text)

In [55]:
df_counted

{'Genesis': 1,
 'God': 1,
 'In': 1,
 'and': 1,
 'beginning': 1,
 'created': 1,
 'heaven': 1,
 'the': 3}

In [56]:
df = df_text.copy()

In [57]:
df.shape

(31101, 3)

In [43]:
# !pip install --upgrade seaborn

In [44]:
df_text.columns

Index(['Genesis',
       '1:1\tIn the beginning God created the heaven and the earth.',
       'Unnamed: 2'],
      dtype='object')

In [25]:
# print(open('data.txt').readlines())