In [86]:
import pandas as pd
import numpy as np
import seaborn as sns

In [156]:
import sys
import os
!head -n 3 data.txt

In [157]:
data_col=['book_bible','verse', 'extra']

In [158]:
df_text = pd.read_fwf('data.txt', sep=" ", colspecs='infer', names=data_col, widths=None, squeeze=True, header=None)
# df_text = pd.read_fwf('data.txt',colspecs='infer')

In [160]:
df_text.describe()

       book_bible                        verse extra
count       31102                        31102  1076
unique        311                        31090   845
top        Psalms  Then Job answered and said,     .
freq         2461                            4    29

In [161]:
df_text.head(3)

  book_bible                                              verse extra
0    Genesis  1:1\tIn the beginning God created the heaven a...   NaN
1    Genesis  1:2\tAnd the earth was without form, and void;...   NaN
2    Genesis  1:3\tAnd God said, Let there be light: and the...   NaN

In [162]:
df_text.tail(3)

      book_bible                                              verse extra
31099    Revelat  on 22:19\tAnd if any man shall take away from ...   NaN
31100    Revelat  on 22:20\tHe which testifieth these things sai...   NaN
31101    Revelat  on 22:21\tThe grace of our Lord Jesus Christ b...   NaN

In [163]:
del df_text['extra']

In [164]:
books_old_testament = ["Genesis","Exodus","Leviticus","Numbers","Deuteronomy","Joshua","Judges","Ruth","1 Samuel",
                       "2 Samuel","1 Kings","2 Kings","1 Chronicles","2 Chronicles","Ezra","Nehemiah","Esther","Job",
                       "Psalms","Proverbs","Ecclesiastes","Song of Solomon","Isaiah","Jeremiah","Lamentations","Ezekiel",
                       "Daniel","Hosea","Joel","Amos","Obadiah","Jonah","Micah","Nahum","Habakkuk","Zephaniah","Haggai",
                       "Zechariah","Malachi"]

In [175]:
books_new_testament = ["Matthew","Mark","Luke","John","Acts of Apostles","Romans","1 Corinthians","2 Corinthians",
                      "Galatians","Ephesians","Philippians","Colossians","1 Thessalonians","2 Thessalonians","1 Timothy",
                      "2 Timothy","Titus","Philemon","Hebrews","James","1 Peter","2 Peter","1 John","2 John","3 John",
                      "Jude","Revelation"]

In [176]:
df_text.columns

Index(['book_bible', 'verse'], dtype='object')

In [177]:
df_verses = df_text['verse']

In [178]:
df_verses.head(7)

0    1:1\tIn the beginning God created the heaven a...
1    1:2\tAnd the earth was without form, and void;...
2    1:3\tAnd God said, Let there be light: and the...
3    1:4\tAnd God saw the light, that it was good: ...
4    1:5\tAnd God called the light Day, and the dar...
5    1:6\tAnd God said, Let there be a firmament in...
6    1:7\tAnd God made the firmament, and divided t...
Name: verse, dtype: object

In [179]:
# df_tabs = df_verses.copy()

In [180]:
# df_tabs.head(10)

In [181]:
for row in df_verses:
    print(row)
    break

1:1	In the beginning God created the heaven and the earth.

In [194]:
# global _counted
# _counted = {}
# count = 0

In [198]:
_counted = {}
count = 0

for row in df_verses:
    stringed = str(row)
#     Clean each line - Remove punctuations
    pos = stringed.find('\t')
    stringed = stringed[pos:]
#     print(stringed)

    stringed = stringed.replace(",","")
    stringed = stringed.replace(";","")
    stringed = stringed.replace(".","")
    stringed = stringed.replace("?","")
    stringed = stringed.replace("!","")
    stringed = stringed.replace("(","")
    stringed = stringed.replace(")","")
#     stringed = stringed.replace("\t"," ")
    stringed = stringed.strip()
    collects = list(stringed.split(" "))

    for item in collects:
        if '\t' in item:
            item = item.replace('\t',' ')
        if item != 'God':
            item = item.lower()
            
        if ":" in item:
            continue
        
        if item == '':
            continue
            
        try:
            _counted[item] = _counted[item] + 1
        except KeyError:
            _counted[item] = 1

In [207]:
# sorted(_counted)
over_1000 = {}

for key in _counted.keys():
    if _counted[key] > 1000:
        over_1000['{}'.format(key)] = _counted[key]
        

print(over_1000)

{'hast': 1031, 'in': 12198, 'shalt': 1589, 'also': 1687, 'men': 1536, 'be': 6776, 'thee': 3434, 'this': 2646, 'people': 1979, 'their': 3772, 'but': 3865, 'make': 1023, 'lord': 7288, 'our': 1123, 'upon': 2625, 'because': 1169, 'shall': 9565, 'made': 1346, 'me': 3626, 'will': 3687, 'there': 2151, 'and': 50021, 'or': 1069, 'thy': 4506, 'came': 2012, 'him': 6025, 'from': 3478, 'is': 6693, 'had': 1937, 'it': 5673, 'before': 1735, 'hand': 1311, 'house': 1867, 'went': 1343, 'unto': 8693, 'down': 1028, 'that': 12452, 'after': 1128, 'children': 1733, 'not': 6199, 'king': 2170, 'if': 1542, 'no': 1323, 'against': 1606, 'for': 8673, 'ye': 3864, 'every': 1182, 'go': 1421, 'have': 3747, 'my': 4156, 'your': 1714, 'o': 1065, 'they': 7081, 'now': 1286, 'let': 1444, 'things': 1072, 'were': 2664, 'them': 5840, 'come': 1891, 'then': 2081, 'of': 33340, 'do': 1291, 'these': 1177, 'land': 1597, 'israel': 2334, 'all': 5452, 'his': 8158, 'her': 1892, 'saith': 1206, 'to': 13067, 'thou': 5276, 'he': 10010, 'up': 2221, 'even': 1347, 'say': 1028, 'hath': 2161, 'you': 2378, 'by': 2522, 'out': 2638, 'a': 7892, 'an': 1651, 'the': 61655, 'one': 1887, 'at': 1501, 'so': 1618, 'therefore': 1201, 'with': 5744, 'into': 1924, 'behold': 1281, 'when': 2726, 'saying': 1413, 'was': 4309, 'we': 1801, 'said': 3837, 'us': 1324, 'day': 1597, 'on': 1942, 'are': 2829, 'as': 3385, 'man': 2455, 'sons': 1018, 'which': 4251, 'son': 2276, 'God': 3709, 'i': 8497}

In [193]:
# sorted(_counted.values())

In [214]:
# data = pd.read_fwf('data.txt', header = None)
data = pd.read_fwf('data.txt', names=['Books','Verse','Extras'])

len(data)

31102

In [215]:
df_data = pd.DataFrame(data)

In [217]:
df_data.head()
df_heads = df_data['Books']
# books = df_data.groupby[df_data['0']]

In [218]:
df_heads.head()

0    Genesis
1    Genesis
2    Genesis
3    Genesis
4    Genesis
Name: Books, dtype: object

In [220]:
df_heads.describe()

count      31102
unique       311
top       Psalms
freq        2461
Name: Books, dtype: object